<div class="fbror_body">
	<div class="fbror_header">
		<div class="fbror_navigation">
			<ul class="fbror_topnav">
				<li><%= link_to("Help", :action => 'help', :only_path => false) %> |</li>
				<li><%= link_to("Invite Friends", :action => 'invite_friends', :only_path => false) %> |</li>
				<li><a href="http://www.facebook.com/apps/application.php?id=YOURAPPIDHERE">About</a> |</li>
				<li><a href="http://www.facebook.com/board.php?uid=YOURAPPIDHERE">Discuss</a></li>
			</ul>
		</div>
		<div class="fbror_logo"><h2>Your App Name</h2></div>
		<div class="fbror_error">
			<%unless flash[:notice].blank? %>
				<fb:status><%= flash[:notice] %></fb:status>
			<%end%>
		</div>

	</div>