<%= render :partial => 'shared' %>

<%= render :partial => 'header' %>
	<div class="fbror_sidebarnav">
	</div>
	<div class="fbror_content">
		<p>Thanks for adding the our application.</p>
		
		<p>Marketing or help instructions would go here. Screencasts or tutorials maybe?</p>
		
	</div>
	<div class="fbror_footer"></div>
</div>
	
