<div class="fbror_sidebarnav">
</div>
<div class="fbror_content">
	<div class="fbror_friends_with_this_app fbror_section">
		<h3>Your Friends Using This App</h3>
		<% current_user.friends_with_this_app.each do |friend| %>
			<div class="fbror_friend_with_this_app">
	  		<div class="fbror_friend_pic_with_this_app">
	  			<%= fb_profile_pic friend %>
				</div>
				<div class="fbror_friend_name_with_this_app">
					<%= fb_name friend %>
				</div>
			</div>
		<% end %>
	</div>
</div>